#add-new-color {
    display : flex;
    flex-direction : column;
    border : 4px;
    height: 600px;
    width: 250px;
    border-style : solid;
    border-color : black;
    justify-content : space-between;
}

header {
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    align-content : baseline;
    height : 200px;
}

#color-title {
    display: flex;
    align-self : center;
    font-weight : bold;
    font-size : 20px;
}

div.button {
    display: flex;
    align-self: center;
    justify-content : center;
    background-color: #376A3E;
    color: white;
    width: 120px;
    margin : 30px;
    padding : 6px;
    border-radius : 10px;
}

div.color-option {
    display : flex;
    width : 210px;
    align-self : center;
    justify-content : space-between;
}

div.color-square {
    width : 45px;
    height : 45px;
    border : 2px;
    background-color : white;
    border-style : solid;
    border-color : black;
}

div.color-list { 
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    justify-content : space-around;
}

#number {
    display : flex;
    width : 30px;
    justify-content : flex-end;
    padding : 3px;
}

#name {
    display : flex;
    flex-wrap : wrap;
    width : 110px;
    margin-left : 3px;
}

#right-header {
    display : flex;
    flex-direction : row;
    width: 750px;
    justify-content : flex-end;
}

#round {
    width : 40px;
    height : 40px;
    border-radius : 40px;
    display : flex;
    justify-content : center;
    align-items : center;
}

#page {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
}

#right-of-page {
    display : flex;
    flex-direction : column;
    width : 1000px;
    height : 90px;
}

#right-side-buttons {
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
}

#upload-button {
    margin-left : 420px;
}

img.temp {
    width : 900px;
    height : 500px;
    padding-left : 60px;
}

div.color-option:hover {
    background-color : #C5C9C8;
}

div.size-change {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    width: 120px;
    margin-left : 15px;
    margin-right : 30px;
    height : 40px;
    padding : 6px;
    border-style : solid;
    border-width : 2px;
    border-color : black;
    align-items: center;
    font-size : 17px;
}

div.change-right {
    display : flex;
    flex-direction : column;
    justify-content : center;
    width : 20px;
    height : 30px;
    align-items : center;
}

div.square {
    width : 20px;
    min-height : 20px;
    background-color : white;
    border-style : solid;
    border-width : 2px;
}

#square-div {
    display: flex;
    flex-direction : row;
}